  @import url(../../../App.scss);

  .skills-zone{ 
    max-width: 1300px;
    margin: auto;  
    padding-top: 90px;
    background-color: var(--bg-color);
    clear: both;   
  }

  .skills-zone .section-title{ padding-bottom: 0px;  }

  .skills {  
    width: 98%;
    height: auto;
    margin: 50px auto; 
  }

  .frontEnd, .backEnd, .outros{ height: auto; }

  .outros{ padding-bottom: 0px; }

  .skills h1 {  
    margin: 0px auto;
    font-size: 25px;
    color: var(--bg-color);    
    font-family: "Poppins";
  }

  .buttonSkills{
    position: relative;
    background-color: var(--subtitle-color);
    width: 70%;
    height: auto;
    padding-bottom: 20px;
    margin: auto;    
    border-radius: 10px;    
    text-align: center;
  }
  
  .buttonSkills:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .buttonSkills h1{    
    width: 90%;
    color: var(--bg-color);   
    text-align: left;
    padding-left: 2%;
    padding-right: 10%;
    font-weight: 600;
  }

  .hamburgerFront, .hamburgerBack, .hamburgerO {
    width: 10%;
    height: 100% !important;   
    position: absolute;
    right: 2%;
    top: 90%;
    transform: translateY(-50%);     
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: var(--body-color);
  }

  .hamburgerO{ top: 95%; }
  
  .barSkills{  
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: var(--bg-color);
  }

  .hamburgerFront .barSkills:nth-child(1),  
  .hamburgerBack .barSkills:nth-child(1),
  .hamburgerO .barSkills:nth-child(1){ transform: translateX(-15px) rotate(45deg); }

  .hamburgerFront .barSkills:nth-child(2),
  .hamburgerBack .barSkills:nth-child(2),  
  .hamburgerO .barSkills:nth-child(2){ transform: translateY(-10px) rotate(-45deg); }

  .hamburgerFront.active .barSkills:nth-child(1),
  .hamburgerBack.active .barSkills:nth-child(1),
  .hamburgerO.active .barSkills:nth-child(1){  transform: translateY(0px) rotate(45deg); }

  .hamburgerFront.active .barSkills:nth-child(2),
  .hamburgerBack.active .barSkills:nth-child(2),
  .hamburgerO.active .barSkills:nth-child(2){ transform: translateY(-10px) rotate(-45deg); }

  .circular-container {
    width: 70%;
    background-color: var(--bodyInvert-color);
    border-radius: 20px;
    max-width: 1500px;
    padding-bottom: 50px;
    margin: 10px auto 50px auto;
    display: flex;    
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;  
  }

  .outros .circular-container{ padding-bottom: 80px; }
  
  .circular{
    width: 120px;
    height: 70px;
    margin: 100px 20px;
    color: var(--body-color);
  }

  .circular h1{
    margin: 20px auto;
    padding-bottom: 90px;
    color: var(--subtitle-color);
  }

  .CircularProgressbar .CircularProgressbar-text { font-family: 'Lato'; }

/*===========================
       RESPONSIVE CSS 
===========================*/

  @media screen and (max-width: 768px) {
    .skills{ width: 90%; }

    .circular-container { width: 90%;}
    
    .buttonSkills { width: 90%;}
  }

  @media screen and (max-width: 290px) {
    .skills{ width: 98%; }

    .circular-container {
      width: 180px;
      margin-left: -21px;
      margin: auto;
    }
  }
