.erro-shape { 
    position: absolute !important;   
    display: flex;
    color: var(--subtitle-color);
}

.html {
  top: 65%;  
  left: 65%;
  height: 15vmin;
  width: 15vmin;   
}

.css {
  height: 15vmin;
  width: 15vmin;   
  top: 10%;  
  left: 13%; 
}

.javascript {
  top: 10%;  
  left: 80%;
  height: 15vmin;
  width: 15vmin;   
}

.python {
  height: 15vmin;
  width: 15vmin;   
  top: 40%;  
  left: 70%;
}

.java {
  top: 70%;  
  left: 83%;
  height: 15vmin;
  width: 15vmin;   
}

.typescript {
  height: 15vmin;
  width: 15vmin;   
  bottom: 25%;  
  left: 8%;
}

.bootstrap {
  top: 35%;  
  left: 25%;    
  height: 15vmin;
  width: 15vmin;   
}

.react {
  height: 15vmin;
  width: 15vmin;   
  top: 15%;  
  left: 37%;
}

.php {
  height: 15vmin;
  width: 15vmin;   
  top: 0px;  
  left: 55%;
}

.photoshop {    
  bottom: 7%;  
  left: 50%;
  height: 15vmin;
  width: 15vmin;   
}

.sass {
  height: 15vmin;
  width: 15vmin;   
  bottom: 14%;  
  left: 28%; 
}